@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/*@font-face {
    font-family: 'roboto';
    src: url("./public/font/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: 'roboto';
    src: url("./public/font/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'roboto';
    src: url("./public/font/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

$font-main: 'roboto', sans-serif;*/
